header.block-container.css-91z34k.egzxvld4css-91z34k.egzxvld4{
    background-color: aqua;

   }
   div.css-1r6slb0.e1tzin5v2{
    background-color: #f5f5f5;
    border: 2px solid; /* #900c3f */
    border-radius: 10px;
    padding: 20px 20px 20px 70px;
    color: green;
   }
   div.css-50ug3q.e16fv1kl3{
    font-weight: 900;
   }